@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  background-color: #0C0C0D;
  color: white;
}

a:hover{
color: white;
}

a:active{
  color: rgb(226, 221, 221);
  }
