@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil');


*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  background-color: #0C0C0D;
  color: white;
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a:hover{
color: white;
}

a:active{
  color: rgb(226, 221, 221);
  }

  .click-btn {
    display: flex;
    height: 40px;
    width: 120px;
    justify-content: center;
    align-items: center;
    line-height: 35px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    transition: all 0.35s;
    box-sizing: border-box;
  }

  .btn-style5 {
    color: #979695;
    border-color: #979695;
    box-shadow: 0.3rem 0.3rem 0 #A88AF0;
    &:hover {
      color: #fff;
      border-color: #A88AF0;
      box-shadow: -0.3rem 0.3rem 0 #979695;
    }
  }

  .btn-style5:hover{
    color: #fff;
  }

.neon-text {
  animation: lights 5s 750ms linear infinite;
  margin-right: 1rem;
}

.card:hover{
  animation-name: glow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}


@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

}


@keyframes glow {
  50%{box-shadow: 0px 0px 50px #A88AF0;
      transform: scale(1.08,1.08)}
}
